downloaded_models
*.log
*.pyc
checkpoints/
logs/
*.log2
speech_enhancement_process/intergrate_enhanced_speech_bygtcer/onlyenhanced_all_datasets_summary.json
speech_enhancement_process/intergrate_enhanced_speech_bygtcer/onlyenhanced_kaldi_summary.json
speech_enhancement_process/intergrate_enhanced_speech_bygtcer/cer_stats_summary.txt
speech_enhancement_process/intergrate_enhanced_speech_bygtcer/cer_stats_all_audio.csv